# ------------------------------------------------------------
# Business Partner Agent
#
# BPA1, ACAPY1, POSTGRES1 are for configuring the full business partner stack
# BPA2, ACAPY2, POSTGRES2 are for configuring the agent & wallet, the frontend/backend (BPA) are to be run in IDEs for development work
# ------------------------------------------------------------

# Specifies the label for this agent. This label is publicized (self-attested) to other agents as part of forming a connection
AGENT1_NAME="Partner BPA"
AGENT2_NAME="Dev BPA"

# localhost, ip address, dns name
BPA_HOST=host.docker.internal
BPA_SCHEME=http

BPA1_SERVICE=partner-app
BPA1_PORT=38080
BPA1_DEBUG_PORT=1044

# BPA2 is not stood up in docker-compose... it is meant to run in an ide for development
BPA2_SERVICE=host.docker.internal
BPA2_PORT=48080

# Security
BPA_SECURITY_ENABLED=false
# Default username and password, set if running in production like environments
BPA_BOOTSTRAP_UN=admin
BPA_BOOTSTRAP_PW=changeme

# Run in did:web mode with read only ledger. If set to true ACAPY_READ_ONLY_MODE has to be set as well.
BPA_WEB_MODE=false

# Uni Resolver URL - local instance of uni-resolver
BPA_RESOLVER_URL=http://host.docker.internal:7776
# The ledger prefix that is configured with the Uni Resolver
BPA_DID_PREFIX=did:sov:

# The Ledger Explorer
BPA_LEDGER_BROWSER=http://host.docker.internal:9000

# Docker image to be used for the business partner
BPA_DOCKER_IMAGE=ghcr.io/hyperledger-labs/business-partner-agent:local

# ------------------------------------------------------------
# ACA-PY
# ------------------------------------------------------------

# Run in read only mode, requires BPA_WEB_MODE to be true.
#ACAPY_READ_ONLY_MODE=--read-only-ledger

ACAPY_GENESIS_URL=http://host.docker.internal:9000/genesis

#
# Identity
#

# Enter wallet seed here:
#ACAPY1_SEED=YjieiZiyoHaMza3sxXmgBYjBQ7L1er62
#ACAPY2_SEED=YjieiZiyoHaMza3sxXmgBYjBQ7L1er61

#
# Build
#

# Build ACA-Py instead of using a published image. Requires usage of docker-compose.custom-acapy.yml
# Example here is using the current master
ACAPY_BUILD_CONTEXT=https://github.com/hyperledger/aries-cloudagent-python.git
ACAPY_BUILD_DOCKERFILE_PATH=docker/Dockerfile.run

#
# Security
#

# Protect all admin endpoints with the provided API key
# Development setup (do not use in production!)
ACAPY_ADMIN_CONFIG=--admin-insecure-mode
# Production setup (change the key to a generated secret one)
#ACAPY_ADMIN_URL_API_KEY=change-me
#ACAPY_ADMIN_CONFIG=--admin-api-key ${ACAPY_ADMIN_URL_API_KEY}

#
# Connectivity
#

ACAPY1_SERVICE=partner-agent
ACAPY1_HTTP_PORT=38030
ACAPY1_ENDPOINT=http://host.docker.internal:38030
ACAPY1_ADMIN_PORT=38031

ACAPY2_SERVICE=dev-agent
ACAPY2_HTTP_PORT=48030
ACAPY2_ENDPOINT=http://host.docker.internal:48030
ACAPY2_ADMIN_PORT=48031

#
# Wallet Storage
#

ACAPY_WALLET_TYPE=postgres_storage
ACAPY_WALLET_DATABASE=wallet_db
ACAPY_WALLET_ENCRYPTION_KEY=key

# ------------------------------------------------------------
# Postgres Storage
# ------------------------------------------------------------

POSTGRESQL1_HOST=partner-wallet-db
POSTGRESQL1_PORT=35432

POSTGRESQL2_HOST=dev-wallet-db
POSTGRESQL2_PORT=45432

POSTGRESQL_USER=walletuser
POSTGRESQL_PASSWORD=walletpassword


