micronaut:
  application:
    name: bpa
    instance:
      id: ${random.shortuuid}
  server:
    port: 8080
    cors:
      enabled: true # potential security risk
    idle-timeout: 30m
  security:
    enabled: ${BPA_SECURITY_ENABLED:true}
    authentication: session
    endpoints:
      logout:
        path: /api/logout
        get-allowed: true
    redirect:
      unauthorized:
        url: /user/signin
      login-failure: /user/authFailed
      logout: /user/signin
    intercept-url-map:
      - pattern: /health
        http-method: GET
        access:
          - isAnonymous()
      - pattern: /health/**
        http-method: GET
        access:
          - isAnonymous()
      - pattern: /**
        access:
          - isAuthenticated()

  session:
    max-inactive-interval: 12h
  router:
    # note also check the AppController
    static-resources:
      swagger:
        enabled: true
        paths: classpath:META-INF/swagger
        mapping: /swagger/**
      swagger-ui:
        paths: classpath:META-INF/swagger/views/swagger-ui
        mapping: /swagger-ui/**
      frontend:
        paths: classpath:public
        mapping: /**
  caches:
    '*':
      maximum-size: 5000
    ur-cache:
      expire-after-write: 300s
    partner-lookup-cache:
      expire-after-write: 180s
    did-lookup-cache:
      expire-after-write: 3600s
    schema-attr-cache:
      expire-after-write: 1d
    schema-label-cache:
      expire-after-write: 1d
  executors:
    io:
      type: fixed
      nThreads: 25
    scheduled:
      type: scheduled
      core-pool-size: 5

endpoints:
  all:
    enabled: false
  health:
    enabled: true
    sensitive: false
    details-visible: AUTHENTICATED

datasources:
  '*':
    url: ${bpa.pg.url}
    driver-class-name: org.postgresql.Driver
    username: ${bpa.pg.username}
    password: ${bpa.pg.password}
    dialect: POSTGRES
    schema: ${bpa.pg.schema}
    initialization-fail-timeout: -1 # wait forever until the db is ready

flyway:
  datasources:
    '*':
      locations: classpath:databasemigrations
      schemas: ${bpa.pg.schema}

jackson:
  serialization-inclusion: NON_ABSENT # Omit null and Optional.empty(), but include empty collections
  serialization:
    indent-output: false
  deserialization:
    failOnUnknownProperties: false
    acceptEmptyStringAsNullObject: true
    acceptEmptyArrayAsNullObject: true
  json-view:
    enabled: true
  mapper:
    acceptCaseInsensitiveEnums: true

bpa:
  docker:
    #host where containers are running: typically localhost but might be an IP as well
    host: localhost
  ledger:
    browser: ${BPA_LEDGER_BROWSER:}
  host: ${BPA_HOST:`localhost:8080`}
  name: ${AGENT_NAME:`Business Partner Agent`}
  scheme: ${BPA_SCHEME:`https`}
  web:
    only: ${BPA_WEB_MODE:false}
  acapy:
    url: ${ACAPY_URL:`http://localhost:8031`}
    apiKey: ${ACAPY_API_KEY:empty}
    endpoint: ${ACAPY_ENDPOINT:`http://localhost:8030`}
  did:
    prefix: ${BPA_DID_PREFIX:`did:sov:`}
  pg:
    url: jdbc:postgresql://${POSTGRESQL_HOST:`localhost`}/${bpa.pg.username}
    username: ${POSTGRESQL_USER:`walletuser`}
    password: ${POSTGRESQL_PASSWORD:`walletpassword`}
    schema: public
  bootstrap:
    username: ${BPA_BOOTSTRAP_UN:admin}
    password: ${BPA_BOOTSTRAP_PW:changeme}
  imprint:
    url: ${BPA_IMPRINT_URL:}
  privacy:
    policy:
      url: ${BPA_PRIVACY_POLICY_URL:}
  creddef:
    revocationRegistrySize: ${BPA_CREDDEF_REVOCATION_REGISTRY_SIZE:3000}
  title: ${BPA_TITLE:`Business Partner Agent`}
  i18n:
    locale: ${BPA_I18N_LOCALE:en}
    fallbackLocale: ${BPA_I18N_FALLBACK_LOCALE:en}
# The following is an example on how to override the default ux.
# This will have all of the alternate layout and themes/colors loaded.
# To override theme, then set themes.light properties
# To override favicon, then need favicon.href property
# buttons are applied against v-bpa-buttons and determined by the color attribute
#   example: <v-bpa-button color="primary">Primary</v-bpa-button>
#  ux:
#    buttons:
#      primary:
#        text: false
#        outlined: false
#      secondary:
#        text: true
#        outlined: true
#    theme:
#      dark: false
#      themes:
#        light:
#          primary: '#003366'
#          secondary: '#003366'
#          accent: '#82B1FF'
#          error: '#D8292F'
#          info: '#2196F3'
#          success: '#2E8540'
#          warning: '#FFC107'
#          bgLight: "#FAFAFA"
#          bgLight2: "#ECECEC"
#          font: "#313132"
#          anchor: "#1A5A96"
#          anchorHover: "#3B99FC"
#    favicon:
#      href: "https://raw.githubusercontent.com/bcgov/common-forms-toolkit/master/app/frontend/public/favicon.ico"
#    navigation:
#      avatar:
#        agent:
#          enabled: false
#          default: true
#          src: ""
#        user:
#          enabled: true
#      settings:
#        location: "bottom"
#      about:
#        enabled: false
#      logout:
#        enabled: true
#    header:
#      title:
#        prefix: true
#      logout:
#        enabled: false
#      logo:
#        enabled: true
#        href: "https://www2.gov.bc.ca"
#        alt: "B.C. Government Logo"
#        images:
#          - name: "small"
#            class: "d-none d-sm-flex d-md-none"
#            height: "3.5rem"
#            src: "https://raw.githubusercontent.com/bcgov/common-forms-toolkit/master/app/frontend/src/assets/images/bc_logo_square.svg"
#            width: "3.5rem"
#          - name: "medium"
#            class: "d-none d-md-flex"
#            height: "3.5rem"
#            src: "https://raw.githubusercontent.com/bcgov/common-forms-toolkit/master/app/frontend/src/assets/images/bc_logo.svg"
#            width: "10rem"
