<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="PATTERN">%d{HH:mm:ss.SSS} [%t] %-5level %c{1} - %replace{%msg}{[\r\n]+}{}%n</Property>
    </Properties>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="${PATTERN}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="io.micronaut.context" level="info"/>
        <Logger name="io.micronaut.security" level="info"/>
        <Logger name="com.zaxxer.hikari" level="warn"/>
        <Logger name="org.flywaydb.core" level="info"/>
        <Logger name="org.hyperledger.bpa" level="debug"/>
        <Logger name="org.hyperledger.aries" level="trace"/>
        <logger name="org.hyperledger.bpa.impl.aries" level="trace"/>
        <Root level="warn">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>
