/*
 * This globally extends the base Vuetify style
 */
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Material+Icons");
@import "~material-design-icons-iconfont/dist/material-design-icons.css";
@import '~@fortawesome/fontawesome-free/css/all.css';
@import "~vuetify/src/styles/styles.sass";

// Typography
.v-application {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Verdana, Arial, sans-serif !important;
  line-height: 1.4;
  font-size: 0.875rem;
}

h1 {
  font-size: 1.9em;
}
h2 {
  font-size: 1.7em;
}
h3 {
  font-size: 1.3em;
}
h4 {
  font-size: 1.05em;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
  font-weight: bold;
}

p {
  line-height: 1.7;
}

// buttons in v-card
.v-card__actions > .v-btn {
  padding: 0 16px !important;
}

// vuetify radio button and checkbox labels need alignment help
.v-input--selection-controls__input {
  ~ .v-label {
    margin-bottom: 0 !important;
  }
}

nav {
  // prevents the icon from causing a resize of list item on hover.
  .v-icon.v-icon {
    display: inline-block;
  }
  a {
    &:hover {
      text-decoration: none;
    }
  }
}

a.dashboard-card {
  &:hover {
    text-decoration: none;
  }
}

.v-data-table-header th.sortable {
  .v-data-table-header__icon {
    margin-left: 4px;
  }
}

div {
  &.layout {
    &.align-end {
      &.justify-end {
        > button {
          margin-right: 4px;
        }
      }
    }
  }

}
